body,
input,
button {
    font-size: 1.6vw;
    margin: 0;
    font-family: Sans-Serif;
}
@media(max-width: 1024px) {
    body,
    input,
    button {
        font-size: 1em;
    }
}
body {
	background: #333;
	margin: 0;
    color: #eee;
}
input:focus,
button:focus {
    outline:0;
}
input[type=text] {
    border: none;
    border-bottom: solid 2px #4c4c4f;
    font-size: 1em;
    background-color: transparent;
    color: #fff;
    padding: .4em 0;
    margin: 2ex 0;
    width: 100%;
    max-width: 18em;
    display: block;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}
.audio-button-true .on,
.video-button-true .on,
.video-button-false .off,
.fullscreen-button .on,
.room-occupied {
	display: none;
}
:-webkit-full-screen .fullscreen-button .on {
    display: block;
}
:-moz-full-screen .fullscreen-button .on {
    display: block;
}
:-ms-fullscreen .fullscreen-button .on {
    display: block;
}
:fullscreen .fullscreen-button .on { /* spec */
    display: block;
}
:-webkit-full-screen .fullscreen-button .off {
    display: none;
}
:-moz-full-screen .fullscreen-button .off {
    display: none;
}
:-ms-fullscreen .fullscreen-button .off {
    display: none;
}
:fullscreen .fullscreen-button .off { /* spec */
    display: none;
}
/* deeper elements */
:-webkit-full-screen video {
  width: 100%;
  height: 100%;
}
.full .room-occupied,
.recent-room {
	display: block;
}
.recent-room {
    color: #4285F4;
    margin: 1ex 1em;
}
.remote-video {
    display: block;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.local-video {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    left: 0;
    bottom: 0;
    transition: all .3s;
}
.established .local-video {
	border: 1px solid gray;
    bottom: 20px;
    left: 20px;
    max-height: 17%;
    max-width: 17%; 
}
.media-bridge,
.local-video,
.remote-video {
    position: absolute;
    height: 100%;
    width: 100%;
}
.auth {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
.room-occupied,
.request-access,
.grant-access {
    width: 18em;
    background: #333;
    box-sizing: border-box;
    padding: 0 1em;
    transition: transform 0.3s cubic-bezier(0.5, -0.5, 0.5, 1.5);
    transform-origin: center center;
    transform: scale(0, 0);
    box-shadow: .2ex .2ex 1.5em #444
}
.full .room-occupied,
.join .request-access,
.approve .grant-access {
    transform: scale(1, 1);
}
.primary-button {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-color: #4285F4;
    border: none;
    color: white;
    font-size: 0.8em;
    margin: 0 5px 20px 5px;
    width: 8em;
    line-height: 4ex;
    padding: 1ex 0.7em;
    text-align: center;
    -webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,.5);
    -moz-box-shadow: 1px 1px 5px 0 rgba(0,0,0,.5);
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,.5);
}
.media-controls {
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
}
.call-exit-button,
.hangup-button,
.audio-button-true,
.audio-button-false,
.video-button-true,
.video-button-false,
.fullscreen-button {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: rgba(44, 44, 44, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    box-shadow: .2ex .2ex 1.5em #444;
    transition: all .2s ease-out;
    margin: 0 .4em;
    cursor: pointer;
}
.call-exit-button:hover,
.hangup-button:hover,
.audio-button-true:hover,
.audio-button-false:hover,
.video-button-true:hover,
.video-button-false:hover,
.fullscreen-button:hover {
    box-shadow: .4ex .4ex 3em #666;
    background: rgba(64, 124, 247, 1)
}
.svg {
    width: 1.4em;
}