body,
input,
button {
    font-size: 1.6vw;
    margin: 0;
    font-family: Sans-Serif;
}
@media(max-width: 1024px) {
    body,
    input,
    button {
        font-size: 1em;
    }
}
body {
	background: #333;
	margin: 0;
    color: white;
}
input[type=text] {
    border: none;
    border-bottom: solid 2px #4c4c4f;
    font-size: 1em;
    background-color: transparent;
    color: #fff;
    padding: .4em 0;
    margin: 2ex 0;
    width: 20em;
    display: block;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}
.request-access,
.grant-access,
.room-occupied {
	display: none;
}
.join .request-access,
.approve .grant-access,
.full .room-occupied,
.recent-room {
	display: block;
}
.recent-room {
    color: #4285F4;
    margin: 1ex 1em;
}
.remote-video {
    display: block;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.local-video {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    left: 0;
    bottom: 0;
    transition: all .3s;
}
.established .local-video {
	border: 1px solid gray;
    bottom: 20px;
    left: 20px;
    max-height: 17%;
    max-width: 17%; 
}
.media-bridge,
.local-video,
.remote-video {
    position: absolute;
    height: 100%;
    width: 100%;
}
.auth {
    position: relative;
}
.primary-button {
    background-color: #4285F4;
    border: none;
    color: white;
    font-size: 0.8em;
    margin: 0 5px 20px 5px;
    width: 8em;
    height: 2.75em;
    padding: 0.5em 0.7em 0.5em 0.7em;
    -webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,.5);
    -moz-box-shadow: 1px 1px 5px 0 rgba(0,0,0,.5);
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,.5);
}
.media-controls {
	position: relative;
}
.audio-button-true,
.audio-button-false {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background: rgba(44, 44, 44, 0.6);
}