body {
	background: grey;
	margin: 0;
}
.request-access,
.grant-access,
.room-occupied {
	display: none;
}
.join .request-access,
.approve .grant-access,
.full .room-occupied {
	display: block;
}
.remote-video {
    display: block;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    position: absolute;
    width: 100%;
}
.local-video {
    position: absolute;
	height: 100%;
	width: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    left: 0;
    bottom: 0;
    transition: all .3s;
}
.established .local-video {
	border: 1px solid gray;
    bottom: 20px;
    left: 20px;
    max-height: 17%;
    max-width: 17%; 
}
.media-bridge {
    position: absolute;
    height: 100%;
    width: 100%;
}
.auth {
    position: relative;
}